<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="kr.co.vo.UserVo" alias="UserVo"/>
		<typeAlias type="kr.co.vo.SojuVo" alias="SojuVo"/>
		<typeAlias type="kr.co.vo.BeerVo" alias="BeerVo"/>
		<typeAlias type="kr.co.vo.WineVo" alias="WineVo"/>
		<typeAlias type="kr.co.vo.VodkaVo" alias="VodkaVo"/>
		<typeAlias type="kr.co.vo.WhiskeyVo" alias="WhiskeyVo"/>
		<typeAlias type="kr.co.vo.SulVo" alias="SulVo"/>
	</typeAliases>
</configuration>