<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mappers.BeerMapper">

	<select id="selectByWriter" resultType="String" parameterType="String">
		select * from beer
		where writer = #{writer}
	</select>

	<select id="selectDistinctBeerList" resultType="String">
		select distinct menu from beer
	</select>

</mapper>